

.top-news {
    color: #fff;
    margin: 8px 0;
}
.top-news em {
    font-size: 13px;
    margin-bottom: 8px;
    margin-bottom: 0;
    font-style: normal;
    display: block;
}
.top-news em i {
    font-size: 14px;
}
.top-news span {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}
.top-news a {
    display: block;
    text-align: left;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}
.top-news a .top-news-icon {
    right: 8px;
    bottom: 15px;
    opacity: 0.3;
    font-size: 35px;
    position: absolute;
    filter: alpha(opacity=30);
    /*For IE8*/
}
.top-news .btn + .btn {
    margin-left: 0;
}